.Items {
  animation: ;
  background: linear-gradient(180deg, #1a2848, 80%, #0b0e1c);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 5em 12em;
  color: white;
  line-height: 15px;
  align-items: center;
  -webkit-transition: ease-in 0.1s;
  -moz-transition: ease-in 0.1s;
  -ms-transition: ease-in 0.1s;
  -o-transition: ease-in 0.1s;
  -webkit-animation: ;
}
.img-icon i {
  font-size: 50px;
  margin-bottom: 15%;
}
.Items p {
  color: white;
}
