.Container {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 4% 7%;
}
.slide-animation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gif-animation img {
  height: 440px;
  border-radius: 100% 40%;
  box-shadow: #225ecc 0px 17px 10px -15px;
  -webkit-border-radius: 100% 40%;
  -moz-border-radius: 100% 40%;
  -ms-border-radius: 100% 40%;
  -o-border-radius: 100% 40%;
}

.first-Content {
  padding: 20px 70px;
  border-radius: 15px;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

p {
  margin-top: 2%;
  color: black;
  font-size: 18px;
  line-height: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.getStarted {
  margin-top: 3em;
  font-size: 18px;
  padding: 15px 50px;
  border: none;
  box-shadow: 2px 2px 10px;
}
